name: Deploy to VM
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Update VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/video_perf_etl
            git pull origin main

            docker compose down --volumes --rmi all
            export AIRFLOW_UID=$(id -u)
            docker compose up airflow-init -d
            docker compose logs -f airflow-init | grep -q "All done." || sleep 30
            docker compose up -d
