name: Deploy to VM
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Update VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
<<<<<<< HEAD
            cd ~/soniomelga/video_perf_etl
=======
            cd ~/my-airflow
>>>>>>> parent of 9469280 (fix: update directory to navigate in VM for workflows)
            git pull origin main
            astro dev restart