name: Deploy to VM
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Update VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/my-airflow
            git pull origin main
            astro dev restart